/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");

/* DEFAULTS */
body {
  background-color: #fff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 0 20px;
}

/* BUTTONS, LINKS */

.button {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 -3px rgba(170, 170, 170, 0.5) inset;
}

.button--primary {
  background-color: #fff;
  color: #333;
}

.button--secondary {
  background-color: #1368ce;
  color: #fff;
}

.navbar__button--secondary {
  background-color: #26890c;
  color: #fff;
}

/* NAV */
.navbar {
  position: sticky;
  top: 0;
  min-height: 60px;
  display: flex;
  /*padding: 16px;*/
  padding: 20px 20px 0;
  color: white;
  font-size: 14px;
  background-color: #1f0b3d;
}

.navbar li {
  display: inline-block;
  list-style: none;
}

.navbar__link {
  padding-right: 8px;
  width: 100%;
  padding: 10px 8px 10px 0;
}

.navbar__link a {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  width: 80%;
}

.navbar__link--logo {
  padding-top: 0;
}

.navbar__items {
  display: flex;
}

.navbar__items--right {
  margin-left: auto;
}

.navbar__items--right .navbar__link {
}

.navbar__link-toggle {
  display: none;
}

.navbar__icon {
  padding: 0 40px 5px 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
}

.navbar__icon--school {
  background-image: url(../img/icon_school.png);
}

.navbar__icon--home {
  background-image: url(../img/icon_home.png);
}

.navbar__icon--work {
  background-image: url(../img/icon_work.png);
}

.navbar__icon--academy {
  background-image: url(../img/icon_academy.png);
}

.navbar__icon--pricing {
  background-image: url(../img/icon_pricing.png);
}

/* HERO */

.hero {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 600px;
  background-color: #46178f;
  border-bottom: 20px solid #46178f;
  border-radius: 50% / 0 0 50px 50px;
}

.hero__background--playing {
  background-image: url("../img/children_learning_345.png");
}

.hero__text {
  width: 80%;
  padding: 40px;
}

@media only screen and (max-width: 768px) {
  .navbar__items,
  .navbar {
    flex-direction: column;
  }

  .navbar__link {
    padding-right: 8px;
    width: auto;
    padding: 0 8px 0 0;
  }

  .navbar__items {
    display: none;
  }

  .navbar__items--right {
    margin-left: 0;
  }

  .navbar__toggleShow {
    display: flex;
  }

  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

/* RESPONSIVE */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    background-color: #46178f;
  }
  .display__hidden--md {
    display: none;
  }
  .hero {
    min-height: 500px;
  }
  .hero__background--playing {
    background-image: url("../img/children_learning_690.png");
    background-image: -webkit-image-set(
      url("../img/children_learning_690.png") 1x,
      url("../img/children_learning_1380.png") 2x
    );
    background-image: image-set(
      url("../img/children_learning_690.png") 1x,
      url("../img/children_learning_1380.png") 2x
    );
  }
  .hero__text {
    width: 50%;
    padding: 100px 0 0 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
