/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");

/* DEFAULTS */
body {
  background-color: #fff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 0 20px;
}

/* BUTTONS, LINKS */

.button {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 -3px rgba(170, 170, 170, 0.5) inset;
}

.button--primary {
  background-color: #fff;
  color: #333;
}

.button--secondary {
  background-color: #1368ce;
  color: #fff;
}

.navbar__button--secondary {
  background-color: #26890c;
  color: #fff;
  padding: 10px;
}

/* NAV */
#navbar__dropdown--container {
  /* display: table; */
  width: 90%;
  font-size: 14px;
}
#navbar__dropdown--container > ul {
  margin: 0;
  padding: 0;
  /* display: table-row; */
  color: #fff;
}
#navbar__dropdown--container > ul > li {
  /* display: table-cell; */
  display: inline-block;
  /* width: 20%; */
  width: 100%;
  padding: 10px;
  position: relative;
  list-style: none;
}

#navbar__dropdown--container .has-submenu > a {
  margin-bottom: 5px;
}
#navbar__dropdown--container a,
#navbar__dropdown--container .current {
  display: block;
  /* padding: 0.25em; */
  border-color: #e8e8e8;
}
#navbar__dropdown--container a {
  color: #fff;
  text-decoration: none;
  /* border: 1px solid #036; */
}
#navbar__dropdown--container a:hover,
#navbar__dropdown--container a:focus {
  background-color: rgb(202, 202, 202);
  color: #46178f;
  /* border: 1px solid #036; */
  text-decoration: underline;
}
#navbar__dropdown--container .current {
  background-color: #bbb;
  color: #000;
  border-color: #444;
}

#navbar__dropdown--container > ul > li > ul {
  /* display: none; 
  position: absolute;*/
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  background-color: #036;
}

#navbar__dropdown--container > ul > li.open > ul {
  display: block;
}

#navbar__dropdown--container > ul > li > ul a {
  border-bottom-width: 1px;
  padding: 10px 0 10px 30px;
}

#navbar__dropdown--container > ul > li > ul > li {
  list-style: none;
}
.navbar {
  position: sticky;
  top: 0;
  min-height: 60px;
  display: flex;
  padding: 20px 20px 0;
  color: white;
  font-size: 14px;
  background-color: #1f0b3d;
}

/* 
.navbar li {
  display: inline-block;
  list-style: none;
}

.navbar__link {
  padding-right: 8px;
  width: 100%;
  padding: 10px 8px 10px 0;
}

.navbar__link a {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  width: 80%;
}



.navbar__items {
  display: flex;
}

.navbar__items--right {
  margin-left: auto;
}*/

.navbar__link--logo {
  margin-right: 20px;
}

.navbar__link-toggle {
  display: none;
}

.navbar__icon {
  padding: 0 40px 5px 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
}

.navbar__icon--school {
  background-image: url(../img/icon_school.png);
}

.navbar__icon--home {
  background-image: url(../img/icon_home.png);
}

.navbar__icon--work {
  background-image: url(../img/icon_work.png);
}

.navbar__icon--academy {
  background-image: url(../img/icon_academy.png);
}

.navbar__icon--pricing {
  background-image: url(../img/icon_pricing.png);
}

/* HERO */

.hero {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 500px;
  background-color: #46178f;
  background-size: 40%;
  border-bottom: 20px solid #46178f;
  border-radius: 50% / 0 0 50px 50px;
}

.hero__background--playing {
  background-image: url("../img/children_learning_690.png");
}

.hero__text {
  width: 80%;
  padding: 40px;
}

/* RESPONSIVE */

/* Small devices only  */
@media only screen and (max-width: 768px) {
  .navbar__items,
  .navbar {
    flex-direction: column;
  }

  .navbar__items {
    display: none;
  }

  .navbar__items--right {
    margin-left: 0;
  }

  .navbar__toggleShow {
    display: flex;
  }

  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    background-color: #46178f;
  }

  .display__hidden--md {
    display: none;
  }

  /* .navbar__link {
    width: auto;
    padding: 0 8px 0 0;
  }

  .navbar__link a {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: auto;
  }

  .navbar__link .navbar__button--secondary {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar__items--right ul {
    margin-top: 5px;
  } */

  .navbar__icon {
    padding: 0 3px 5px 3px;
    background: none;
  }

  #navbar__dropdown--container {
    width: 100%;
  }
  #navbar__dropdown--container > ul {
    display: flex;
    margin-top: 10px;
  }
  #navbar__dropdown--container > ul > li {
    display: inline-block;
    width: auto;
    padding: 0;
    position: relative;
    list-style: none;
  }

  #navbar__dropdown--container > ul > li .navbar__icon--none {
    padding: 10px 20px 5px 20px;
  }

  #navbar__dropdown--container > ul > .navbar__push {
    width: 8%;
  }

  #navbar__dropdown--container > ul > .navbar__push--start {
    margin-left: auto;
  }

  #navbar__dropdown--container > ul > li > a {
    height: 100%;
    padding-top: 10px;
  }

  #navbar__dropdown--container > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }

  #navbar__dropdown--container > ul > li > ul a {
    padding: 10px 0 10px 10px;
  }

  #navbar__dropdown--container > ul > li .navbar__button--secondary {
    padding: 10px 5px 5px;
    text-align: center;
    height: 20px;
    width: auto;
  }

  .hero {
    min-height: 500px;
  }

  .hero__text {
    width: 70%;
    padding: 100px 0 0 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .navbar__link a {
    min-height: 23px;
  }

  .navbar__link .navbar__button--secondary {
    min-height: auto;
  } */

  .hero {
    min-height: 500px;
    background-size: 50%;
  }

  .hero__text {
    width: 50%;
    padding: 100px 0 0 40px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar__icon {
    padding: 0 40px 5px 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left 7px;
  }
  .navbar__icon--school {
    background-image: url(../img/icon_school.png);
  }

  .navbar__icon--home {
    background-image: url(../img/icon_home.png);
  }

  .navbar__icon--work {
    background-image: url(../img/icon_work.png);
  }

  .navbar__icon--academy {
    background-image: url(../img/icon_academy.png);
  }

  .navbar__icon--pricing {
    background-image: url(../img/icon_pricing.png);
  }

  .hero {
    min-height: 500px;
    background-size: 50%;
  }

  .hero__text {
    padding: 60px 0 0 40px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }
}
