/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");

/* DEFAULTS */

body {
  background-color: #fff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  font-size: 14px;
  line-height: 2em;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 0 20px;
}

/* BUTTONS, LINKS */

.button {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 -3px rgba(170, 170, 170, 0.5) inset;
  margin-bottom: 10px;
}

.button--primary {
  background-color: #fff;
  color: #333;
}

.button--secondary {
  background-color: #1368ce;
  color: #fff;
}

.navbar__button--secondary {
  background-color: #26890c;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.display__hidden--sm {
  display: none;
}

/* NAV */

.navbar__items {
  width: 90%;
  font-size: 14px;
}

.navbar__items > ul {
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar__items > ul > li {
  display: inline-block;
  width: 100%;
  padding: 10px;
  position: relative;
  list-style: none;
}

.navbar__items .has-submenu > a {
  margin-bottom: 5px;
}

.navbar__items a,
.navbar__items .current {
  display: block;
  border-color: #e8e8e8;
}

.navbar__items a {
  color: #fff;
  text-decoration: none;
}

.navbar__items a:hover,
.navbar__items a:focus {
  text-decoration: underline;
}

.navbar__items .current {
  background-color: #bbb;
  color: #000;
  border-color: #444;
}

.navbar__items > ul > li > ul {
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  background-color: #1368ce;
}

.navbar__items > ul > li.open > ul {
  display: block;
}

.navbar__items > ul > li > ul a {
  border-bottom-width: 1px;
  padding: 10px 0 10px 30px;
}

.navbar__items > ul > li > ul > li {
  list-style: none;
}

.navbar {
  position: sticky;
  top: 0;
  min-height: 60px;
  display: flex;
  padding: 20px 20px 0;
  color: white;
  font-size: 14px;
  background-color: #1f0b3d;
}

.navbar__link--logo {
  margin-right: 20px;
}

.navbar__link-toggle {
  display: none;
}

.navbar__icon {
  padding: 0 40px 5px 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
}

.navbar__icon--school {
  background-image: url(../img/icon_school.png);
}

.navbar__icon--home {
  background-image: url(../img/icon_home.png);
}

.navbar__icon--work {
  background-image: url(../img/icon_work.png);
}

.navbar__icon--academy {
  background-image: url(../img/icon_academy.png);
}

.navbar__icon--pricing {
  background-image: url(../img/icon_pricing.png);
}

/* HERO */

.hero {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 500px;
  background-color: #46178f;
  background-size: 40%;
  border-bottom: 20px solid #46178f;
  border-radius: 50% / 0 0 50px 50px;
}

.hero__background--playing {
  background-image: url("../img/children_learning_690.png");
}

.hero__text {
  width: 80%;
  padding: 40px;
}

/* RESPONSIVE */

/* Small devices only  */

@media only screen and (max-width: 768px) {
  .navbar__items,
  .navbar {
    flex-direction: column;
  }
  .navbar__items {
    display: none;
  }
  .navbar__items--right {
    margin-left: 0;
  }
  .navbar__toggleShow {
    display: flex;
  }
  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display__hidden--sm {
    display: inline-block;
  }

  .navbar__link--logo {
    margin-top: 10px;
  }
  .navbar {
    background-color: #46178f;
  }
  .display__hidden--md {
    display: none;
  }
  .navbar__icon {
    padding: 0 3px 5px 3px;
    background: none;
  }
  .navbar__items {
    width: 100%;
  }
  .navbar__items > ul {
    display: flex;
    margin-top: 10px;
  }
  .navbar__items > ul > li {
    display: inline-block;
    width: 12%;
    padding: 0;
    position: relative;
    list-style: none;
  }
  .navbar__items > ul > li .navbar__icon--none {
    padding: 10px 5px 5px 15px;
  }
  .navbar__items > ul > .navbar__push {
    width: 11%;
  }
  .navbar__items > ul > .navbar__push--start {
    margin-left: auto;
  }
  .navbar__items > ul > .navbar__push--icon {
    width: 23px;
  }
  .navbar__items > ul > li .navbar__icon--only {
    padding: 10px 0 5px 0;
  }
  .navbar__items > ul > li > a {
    height: 100%;
    padding-top: 10px;
  }
  .navbar__items > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
  .navbar__items > ul > li > ul a {
    padding: 10px 0 10px 10px;
  }
  .navbar__items > ul > li .navbar__button--secondary {
    padding: 10px 5px 5px;
    text-align: center;
    height: 20px;
    width: auto;
  }
  .hero {
    min-height: 500px;
  }
  .hero__text {
    width: 70%;
    padding: 100px 0 0 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    min-height: 500px;
    background-size: 50%;
  }
  .hero__text {
    width: 50%;
    padding: 100px 0 0 40px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar__items > ul > li {
    width: auto;
  }
  .navbar__items > ul > li .navbar__icon--none {
    padding: 10px 0 5px 20px;
    width: auto;
  }
  .navbar__items > ul > li .navbar__button--secondary {
    padding: 10px 5px 5px;
    width: auto;
  }
  .navbar__icon {
    padding: 0 40px 5px 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left 7px;
  }
  .navbar__icon--school {
    background-image: url(../img/icon_school.png);
  }
  .navbar__icon--home {
    background-image: url(../img/icon_home.png);
  }
  .navbar__icon--work {
    background-image: url(../img/icon_work.png);
  }
  .navbar__icon--academy {
    background-image: url(../img/icon_academy.png);
  }
  .navbar__icon--pricing {
    background-image: url(../img/icon_pricing.png);
  }
  .hero {
    min-height: 500px;
    background-size: 50%;
  }
  .hero__text {
    padding: 60px 0 0 40px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }
}
